  .home {
    width: 100%;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
}

.home_container {
    width: 70%;
    height: 95%;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.medicine_table {
    width: 70%;
    border-collapse: collapse;
}

.medicine_table td, .medicine_table th {
    border: 1px solid black;
    padding: 10px
}

.medicine_table th{
    background-color: rgba(255, 102, 0, 0.2);
}

